layout {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane {
          command "make"
          args "build-libs"
        }
        pane {
          command "make"
          args "build-backend"
        }
        pane {
          command "make"
          args "build-websockets"
        }
      }

      pane {
        pane {
          pane {
            command "make"
            args "run-backend"
          }

          pane {
            command "make"
            args "run-websockets"
          }

          pane {
            command "make"
            args "run-surrealdb"
          }
        }
      }
    }
}